mixin winfail(data)
		.winfail
			.container
				h2 Если выиграть товар не удалось?
				section.winfail__information
					img(src="%=static=%img/general/howitwork/guarantee.png", alt="")
					p.winfail__descript Гарантированно вы можете приобрести товар за вычетом стоимости ставок сделанных в аукционе.
						span  Решили купить товар?
						|  Сначала попробуйте выиграть.
						|  Не получилось? Просто купите его как в обычном магазине, ничего не потеряв.