mixin howitget(data)
		.howitget
			.container
				h2 Как получить товар?
				h4 Если вы выиграли аукцион или если вы купили товар
				ul.howitget__step
					li.step
						p.step__number 1
						p.step__descript Выберите способ
							|	оплаты товара
							|	и оплатите его
					li.line
					li.step
						p.step__number 2
						p.step__descript Заполните данные
							|  о доставке
					li.line
					li.step
						p.step__number 3
						p.step__descript От 2 до 20 суток в любой 
							|	точке России и СНГ 
							|	вы сможете получить товар