mixin footer(data)
		.footer__top
			.container
				.footer__logo
					a(href="avascript:;")
						img(src="%=static=%img/general/logo.png", alt="logo")
					p Интернет-аукцион 
						span chocs.
					p Скидки на популярные товары
				ul.footer__list
					li
						ul
							li
								a(href="javascript:;") Все аукционы
							li
								a(href="javascript:;") Как это работает
							li
								a(href="javascript:;") Бонусная программа
							li
								a(href="javascript:;") Обратная связь
					li
						ul
							li
								a(href="javascript:;") Личный кабинет
							li
								a(href="javascript:;") Купить ставки
							li
								a(href="javascript:;") Пользовательское соглашение
				.footer__social
					a(href="javascript:;").footer__phone +7 (812) 165-86-47
					a(href="javascript:;").footer__mail hello@chocs.ru
					a(href="https://vk.com/feed").footer__social-vk 
					a(href="https://www.facebook.com/").footer__social-fb

		.footer__bot
			.container
				p © 2017 chocs  |  «Аукцион» – название акции, проводимой в соответствии с 
				|
				|
				a(href="javascript:;") Пользовательским соглашением,
				p размещенным на данном сайте.