mixin howitwork(data)
	.howitwork
		.container
			h2 Как это работает?
			ul.howitwork__list
				li.howitwork__item
					span.howitwork__item__number 
						p 1
					.howitwork__item__description
						img(src="%=static=%img/general/howitwork/choc.png", alt="")
						button Купить
					p.howitwork__item__desc Купить ставки
				li.howitwork__item.line
				li.howitwork__item
					span.howitwork__item__number 
						p 2
					.howitwork__item__description
						p.howitwork__item__name iPhone 7 Jet Black
						img(src="%=static=%img/general/howitwork/iphone7.png", alt="").iphone
					p.howitwork__item__desc Выбери интересный тебе товар
				li.howitwork__item.line
				li.howitwork__item
					span.howitwork__item__number 
						p 3
					.howitwork__item__description
						.time-block 
							p.time 00:00:14
						button.red-btn Сделать ставку
					p.howitwork__item__desc Делай ставки
				li.howitwork__item
					span.howitwork__item__number 
						p 4
					.howitwork__item__description
						p.main Mavrin89
						p.list Naruto24часа Nikita00Pupkin wandalchik
							|  СуперTeremoC Naruto24часа wandalchik
					p.howitwork__item__desc Соревнуйся
				li.howitwork__item.line
				li.howitwork__item
					span.howitwork__item__number 
						p 5
					.howitwork__item__description
						img(src="%=static=%img/general/howitwork/crown.png", alt="").crown
						p.win Вы — победитель!
					p.howitwork__item__desc Побеждай
				li.howitwork__item.line
				li.howitwork__item
					span.howitwork__item__number 
						p 6
					.howitwork__item__description
						p.howitwork__item__name.last iPhone 7 Jet Black
						p.price 113,2 руб.
						button Купить
					p.howitwork__item__desc Покупай товар 
						|за аукционную стоимость
			button.howitwork__reg Зарегистрироваться и купить ставки