mixin menu(data)
		.menu
			.container
				ul.menu__list
					li
						a(href="javascript:;") Акции
					li
						a(href="howitwork.html") Как это работает
					li
						a(href="about.html") О нас
					li
						a(href="feedback.html") Обратная связь
					li
						a(href="javascript:;") Бонусная программа