mixin category(data)
		.category
			.container
				ul.category__list
					li
						img(src="%=static=%/img/general/slice-pc.png", alt="Компьютеры")
						a(href="javascript:;") Компьютеры и ноутбуки
					li
						img(src="%=static=%/img/general/slice-phone.png", alt="Телефоны")
						a(href="javascript:;") Смартфоны
					li
						img(src="%=static=%/img/general/slice-appli.png", alt="Бытовая техника")
						a(href="javascript:;") Бытовая техника
					li
						img(src="%=static=%/img/general/slice-watch.png", alt="Аксессуары")
						a(href="javascript:;") Одежда и аксессуары