mixin pay(data)
		.pay
			.container
				ul.pay__list
					li
						a(href="https://www.visa.com.ru/" target="_blank")
					li
						a(href="https://money.yandex.ru/" target="_blank")
					li
						a(href="https://qiwi.com/" target="_blank")
					li
						a(href="https://www.robokassa.ru/ru/Index.aspx?" target="_blank")
					li
						a(href="https://www.webmoney.ru/" target="_blank")