mixin news(data)
		.news
			.container
				h2 Статьи о нас
				ul
					li
						a(href="javascript:;")
							img(src="%=static=%img/general/lifehacker.png", alt="")
						p Как купить дешевую оригинальную технику на интернет-аукционе
					li
						a(href="javascript:;")
							img(src="%=static=%img/general/PrimeLiber.png", alt="")
						p Из стартапа в успешный бизнес за 3 года
					li
						a(href="javascript:;")
							img(src="%=static=%img/general/BusinesKey.png", alt="")
						p ТОП-10 Народного Голосования Премии Рунета 2016
					li
						a(href="javascript:;")
							img(src="%=static=%img/general/Shopolog.png", alt="")
						p Работа с негативом в социальных сетях: опыт интернет-аукциона