mixin about(data)
		.about
			.container
				img(src="%=static=%img/general/chocolate.png").about__bg
				section.about__description
					h1 О нас
					p Компания создана в феврале 2016 года занимается разработкой автоматизированной торговой платформы. В марте 2016 года получала статус резидента «Технопарка инновационных технологий Югры»
				section.about__legal
					h3 Юридическая информация
					ul
						li
							a(href="javascript:;") Пользовательское соглашение
						li
							a(href="javascript:;") Условия купли-продажи
						li
							a(href="javascript:;") Обработка персональных данных